# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vgwuxhrdpjjcfzckabmz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnd3V4aHJkcGpqY2Z6Y2thYm16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MTQ1MjEsImV4cCI6MjA5MDA5MDUyMX0.1g7NNTURkUr7l3xCsk6w6-hQl9pS-YD7Blfr5dMtVVI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnd3V4aHJkcGpqY2Z6Y2thYm16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDUxNDUyMSwiZXhwIjoyMDkwMDkwNTIxfQ.9u6HtzCwyFpBNf3y-RT-NDrTtAbvHEGe4izoUxgIOpw

# Google Gemini
GEMINI_API_KEY=AIzaSyC5zebTZX6SqAU8OLTFLxkUyBPfE5kE0QU 
